<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    {{Title}}
    <form action="/users" method="POST">
        <div>
            <input type="text" name="name" placeholder="Username" requiered>
        </div>
        <div>
            <input type="text" name="password" placeholder="Password" requiered>
        </div>
        <button type="submit">Register</button>
    </form>
</body>
</html>