{% extends "base.njk" %}

{% block content %}
  <p>{{ desc }}</p>

  <table border="1">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Password</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.password }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}